<app-chatbot></app-chatbot>
<section class="section-1" id="home">
    <header>
        <div><a href=""><img src="assets/logo.png" alt="header-logo"></a></div>
        <nav>
            <ul>
                <li id="navhome"><a href="#home">HOME</a></li>
                <li id="navaboutme"><a href="#about-me">ABOUT ME</a></li>
                <li id="navprojects"><a href="#projects">PROJECTS</a></li>  
            </ul>
        </nav>
        <div class="header-contact">
            <div class="language-en" (click)="ChangeLanguage($event)">EN</div>
            <div class="separate">|</div>
            <div class="language-pt" (click)="ChangeLanguage($event)">PT</div>
        </div>
    </header>
    <div class="about-me" data-aos="fade-up" data-aos-duration="1000">
        <div class="introducing-me">
            <div id="div1">Hello, I am</div>
            <div id="div2">Clebson</div>
            <div id="div3">front-end developer UX/UI</div>
            <div id="div4">
                <div class="button-resume"><a href="https://drive.google.com/file/d/160hwCRcnR6G8YKh25jr_2Hi97URRoU-W/view?usp=sharing" target="_blank">resume</a></div>
                <div class="contato-icons">
                    <a href="https://www.linkedin.com/in/clebsonbarbosa/" target="_blank"><img src="assets/link.png" alt=""></a>   
                    <a href="https://github.com/CleProgrammer" target="_blank"><img src="assets/git.png" alt=""></a>
                    <a href="https://wa.link/5ue7ip" target="_blank"><img src="assets/whats.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="my-picture">
            <img src="assets/my-photo.png" alt="">
        </div>
    </div>
</section>

<section class="section-2" id="about-me">
    <div class="about-me" data-aos="fade-up" data-aos-duration="3000">
        <div class="about-me-picture"><img src="assets/my-photo.png" alt=""></div>
        <div class="about-me-text">
            <h1>Hi, I am Clebson Barbosa</h1>
            <p>I'm a front-end developer passionate about creating modern, responsive, and user-friendly interfaces. I enjoy turning ideas into visual experiences that connect users with products. I'm always learning new technologies and improving my skills in HTML, CSS, JavaScript, and frameworks like React. I believe every project is a chance to grow and build something amazing.</p>
            <div class="about-me-text-my-stacks">
                <div id="stack1">React.JS</div>
                <div id="stack2">Angular</div>
                <div id="stack3">JavaScript</div>
                <div id="stack4">TailwindCSS</div>
                <div id="stack5">React Hooks</div>
                <div id="stack6">Next.JS</div>
                <div id="stack7">Vue.JS</div>
                <div id="stack8">Node.JS</div>
                <div id="stack9">Typescript</div>
                <div id="stack10">MySQL</div>
            </div>
        </div>
    </div>
</section>

<section class="section-3" id="projects">
    <div class="projects" data-aos="fade-up" data-aos-duration="1000">
        <div class="project-box">
            <div class="project-image"><img src="assets/project-thumbnail/conversor.PNG" alt=""></div>
            <div class="project-info">
                <div class="project-titleAndaccess">
                    <div class="project-title" id="project1-title">Currency converter</div>
                    <div class="project-access"><a id="project1-access" href="https://cleprogrammer.github.io/conversor-de-moedas/" target="_blank">access →</a></div>
                </div>
                <div class="project-description" id="project1-description">A currency converter built with React.JS, fully responsive and includes a chart. Also uses the React.js graph library for visuals.</div>
                <div class="project-stacks">Stacks: React.JS, Javascript, CSS, APIRest</div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-image"><img src="assets/project-thumbnail/shopping.PNG" alt=""></div>
            <div class="project-info">
                <div class="project-titleAndaccess">
                    <div class="project-title" id="project2-title">Shopping Website</div>
                    <div class="project-access"><a id="project2-access" href="https://cleprogrammer.github.io/website-supermarket/" target="_blank">access →</a></div>
                </div>
                <div class="project-description" id="project2-description">An online store built with React.JS, fully responsive, using API integration for products, with cart, modern design, and UI flow.</div>
                <div class="project-stacks">Stacks: React.JS, Javascript, CSS, APIRest</div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-image"><img src="assets/project-thumbnail/talktochatgpt.jpg" alt=""></div>
            <div class="project-info">
                <div class="project-titleAndaccess">
                    <div class="project-title" id="project3-title">Talk to ChatGPT</div>
                    <div class="project-access"><a id="project3-access" href="https://www.linkedin.com/posts/clebsonbarbosa_chatgpt-openai-artificialintelligence-activity-7167885968757145603-q-Ka?utm_source=share&utm_medium=member_desktop&rcm=ACoAABBMTuMBHEoVGoSKFdd8ZJwUT3klbCxmDsI" target="_blank">access →</a></div>
                </div>
                <div class="project-description" id="project3-description">A chatbot project built with React.JS using the ChatGPT API, fully responsive, designed for dynamic conversations and smart replies.</div>
                <div class="project-stacks">Stacks: React.JS, Javascript, CSS, APIRest</div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-image"><img src="assets/project-thumbnail/portfoliodesigner.png" alt=""></div>
            <div class="project-info">
                <div class="project-titleAndaccess">
                    <div class="project-title" id="project4-title">Portfolio Designer</div>
                    <div class="project-access"><a id="project4-access" href="https://cleprogrammer.github.io/designer-portfolio/" target="_blank">access →</a></div>
                </div>
                <div class="project-description" id="project4-description">A graphic design portfolio focused on social media. Clean layout, mobile-ready, and creative visuals made for pizza places, snack bars, and açaí shops.</div>
                <div class="project-stacks">Stacks: React.JS, Javascript, CSS</div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-image"><img src="assets/project-thumbnail/tictactoe.png" alt=""></div>
            <div class="project-info">
                <div class="project-titleAndaccess">
                    <div class="project-title" id="project5-title">Tik-Tak-Toe with AI</div>
                    <div class="project-access"><a id="project5-access" href="https://cleprogrammer.github.io/jogo-da-velha/" target="_blank">access →</a></div>
                </div>
                <div class="project-description" id="project5-description">A Tic-Tac-Toe game built with React.js, featuring a minimalist interface, smooth gameplay, and an AI opponent I developed for a fun and challenging experience.</div>
                <div class="project-stacks">Stacks: React.JS, Javascript, CSS</div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-image"><img src="assets/project-thumbnail/login.PNG" alt=""></div>
            <div class="project-info">
                <div class="project-titleAndaccess">
                    <div class="project-title" id="project6-title">Next.js Login</div>
                    <div class="project-access"><a id="project6-access" href="https://github.com/CleProgrammer/login-nextjs-tailwind" target="_blank">access →</a></div>
                </div>
                <div class="project-description" id="project6-description">A login screen built with Next.js, MySQL and Tailwind CSS, designed for modern web apps, featuring a responsive layout, sleek design, and smooth user experience.</div>
                <div class="project-stacks">Stacks: Next.JS, TailwindCSS, MySQL</div>
            </div>
        </div>
    </div>
</section>

<section class="section-4" id="contact">
    <div class="contact" data-aos="fade-up" data-aos-duration="1000">
        <div class="contact-sections">
            <div class="contact-title">Send your message with suggestions</div>
            <form class="form-send-message" id="contact-form" data-aos-duration="1000" action="https://formsubmit.co/clebsondev@hotmail.com" method="POST">
                <input class="contact-name" type="text" name="name" placeholder="Your name" required>
                <input class="contact-email" type="email" name="email" placeholder="Your e-mail" required>
                <input class="contact-subject" type="text" name="subject" placeholder="Subject">
                <textarea name="message" placeholder="Your message" required></textarea>

                <input type="hidden" name="_captcha" value="false">
                
                <button class="send-message" (click)="sendMessage()" type="submit">Send Message</button>
              </form>
        </div>
        <div class="contact-image"><img src="assets/email.png" alt=""></div>
    </div>
</section>

<footer>
    <div class="footer">
        <div class="footer-website-sections">
            <a id="footerhome" href="#home">Home</a>
            <a id="footeraboutme" href="#about-me">About me</a>
            <a id="footerprojects" href="#projects">Projects</a>
            <a id="footercontact" href="#contact">Contact</a>
        </div>
        <div class="footer-contact">
            <a href="https://github.com/CleProgrammer" target="_blank"><img src="assets/git-footer.png" alt=""></a>
            <a href="https://www.linkedin.com/in/clebsonbarbosa/" target="_blank"><img src="assets/in-footer.png" alt=""></a>
            <a href=""><img src="assets/message-contact.png" alt=""></a>
        </div>
        <div class="website-rights">
            © 2025 Clebson Barbosa. All rights reserved.
        </div>
    </div>
</footer>
